<.input
  field={@f[:referer]}
  type="hidden"
  :if={Map.has_key?(@changeset.types, :referer)}
/>
<.input
  required
  field={@f[field]}
  type={if field == :email, do: "email", else: "text"}
  label={Gettext.dgettext(<%= inspect(web_module) %>.Gettext, "fields", to_string(field))}
  :for={field <- @keys}
/>
