Welcome <%%= @user.email %>,

You can confirm your account email by copying/pasting the link below in your browser:

<%%= <%= inspect web_module %>.Router.Helpers.haytni_<%= scope %>_confirmation_url(<%= inspect web_module %>.Endpoint, :show, confirmation_token: @confirmation_token) %>
