<p>Hi <%%= @unconfirmed_email %>,</p>

<p>In order to actually change the email address linked to your account to <%%= @unconfirmed_email %> we ask you to confirm the action by activating the link below:</p>

<p><%%= link "Confirm my account", to: <%= inspect web_module %>.Router.Helpers.haytni_<%= scope %>_confirmation_url(<%= inspect web_module %>.Endpoint, :show, confirmation_token: @confirmation_token) %></p>
