Hi <%%= @unconfirmed_email %>,

In order to actually change the email address linked to your account to <%%= @unconfirmed_email %> we ask you to confirm the action by activating the following link:

<%%= <%= inspect web_module %>.Router.Helpers.haytni_<%= scope %>_confirmation_url(<%= inspect web_module %>.Endpoint, :show, confirmation_token: @confirmation_token) %>

To do so, copy the link above then paste it in your browser.
