<%%=
render(
  "_form.html",
  Map.merge(
    assigns,
    %{
      commit: dgettext("haytni", "Update"),
      title: dgettext("haytni", "Edit"),
      action: @role_path_3.(@conn, :update, @role),
    }
  )
)
%>
