Hello <%%= @user.email %>!

Someone has requested a link to change your password. You can do this through the link below.

<%%= <%= inspect web_module %>.Router.Helpers.haytni_<%= scope %>_password_url(<%= inspect web_module %>.Endpoint, :edit, reset_password_token: @reset_password_token) %>

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.
